   body {
            background-color: rgb(208, 230, 173);
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
        }
        h1 {
            color: dodgerblue;
            background-color: darkgoldenrod;
        }
        p {
            text-align: justify;
        }
        h2 {
            color: brown;
        }
        @charset "utf-8";